@model IEnumerable<GameWebService.DAL.Models.User>
@{
    ViewData["Title"] = "Список пользователей";
}
<!DOCTYPE html>

<html>
<head>
    <title>Список пользователей</title>
</head>
<body>
    <h3>Пользователи</h3>
    <table>
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Номер телефона</td>
            <td>Логин</td>
            <td></td>
        </tr>
        @foreach (var user in Model)
            {
            <tr>
                <td>@user.Surname</td>
                <td>@user.Name</td>
                <td>@user.MiddleName</td>
                <td>@user.Phone</td>
                <td>@user.Login</td>
            </tr>
        }
    </table>
</body>
</html>